:root {
  /* Variables */
  --theme-bg: var(--theme-elevation-0);
  --theme-input-bg: var(--theme-elevation-0);
  --theme-text: var(--theme-elevation-800);
  --theme-overlay: rgba(5, 5, 5, 0.5);

  --style-radius-s: 4px;
  --style-radius-m: 8px;
  --style-radius-l: 16px;
  --nav-width: 275px;

  /* Color Shades */
  --color-base-0: oklch(1 0 0);
  --color-base-50: oklch(0.98 0 0);
  --color-base-100: oklch(0.9305 0 0);
  --color-base-150: oklch(0.881 0 0);
  --color-base-200: oklch(0.8315 0 0);
  --color-base-250: oklch(0.782 0 0);
  --color-base-300: oklch(0.7325 0 0);
  --color-base-350: oklch(0.683 0 0);
  --color-base-400: oklch(0.6335 0 0);
  --color-base-450: oklch(0.584 0 0);
  --color-base-500: oklch(0.5345 0 0);
  --color-base-550: oklch(0.485 0 0);
  --color-base-600: oklch(0.4355 0 0);
  --color-base-650: oklch(0.386 0 0);
  --color-base-700: oklch(0.3365 0 0);
  --color-base-750: oklch(0.287 0 0);
  --color-base-800: oklch(0.2375 0 0);
  --color-base-850: oklch(0.188 0 0);
  --color-base-900: oklch(0.1385 0 0);
  --color-base-950: oklch(0.04 0 0);
  --color-base-1000: oklch(0 0 0);

  --color-accent-0: oklch(0% 0 0);
  --color-accent-50: oklch(5% 0 0);
  --color-accent-100: oklch(10% 0 0);
  --color-accent-150: oklch(15% 0 0);
  --color-accent-200: oklch(20% 0 0);
  --color-accent-250: oklch(25% 0 0);
  --color-accent-300: oklch(30% 0 0);
  --color-accent-350: oklch(35% 0 0);
  --color-accent-400: oklch(40% 0 0);
  --color-accent-450: oklch(45% 0 0);
  --color-accent-500: oklch(50% 0 0);
  --color-accent-550: oklch(55% 0 0);
  --color-accent-600: oklch(60% 0 0);
  --color-accent-650: oklch(65% 0 0);
  --color-accent-700: oklch(70% 0 0);
  --color-accent-750: oklch(75% 0 0);
  --color-accent-800: oklch(80% 0 0);
  --color-accent-850: oklch(85% 0 0);
  --color-accent-900: oklch(90% 0 0);
  --color-accent-950: oklch(95% 0 0);
  --color-accent-1000: oklch(100% 0 0);

  /* Theme Accent Colors */
  --theme-accent-0: var(--color-accent-0);
  --theme-accent-50: var(--color-accent-50);
  --theme-accent-100: var(--color-accent-100);
  --theme-accent-150: var(--color-accent-150);
  --theme-accent-200: var(--color-accent-200);
  --theme-accent-250: var(--color-accent-250);
  --theme-accent-300: var(--color-accent-300);
  --theme-accent-350: var(--color-accent-350);
  --theme-accent-400: var(--color-accent-400);
  --theme-accent-450: var(--color-accent-450);
  --theme-accent-500: var(--color-accent-500);
  --theme-accent-550: var(--color-accent-550);
  --theme-accent-600: var(--color-accent-600);
  --theme-accent-650: var(--color-accent-650);
  --theme-accent-700: var(--color-accent-700);
  --theme-accent-750: var(--color-accent-750);
  --theme-accent-800: var(--color-accent-800);
  --theme-accent-850: var(--color-accent-850);
  --theme-accent-900: var(--color-accent-900);
  --theme-accent-950: var(--color-accent-950);
  --theme-accent-1000: var(--color-accent-1000);
}

/* Nav Button */
.hamburger__wrapper {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
}
.hamburger:before {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
}
.hamburger:after {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
}

/* Nav Group Icon */
.nav-group__indicator svg .stroke {
  stroke: var(--theme-elevation-700);
}

/* Nav Group Label */
.nav-group__label {
  color: var(--theme-elevation-700);
}

/* Nav */
.nav {
  background-color: var(--theme-elevation-100);
}

/* Dashboard Card */
.card {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
}

/* Primary Button */
.btn--style-primary {
  background-color: var(--theme-elevation-100);
  border: 1px solid var(--theme-elevation-200);
  color: var(--theme-elevation-900);
}

/* Input Field */
.field-type.text:not(.has-many) input {
  border: 1px solid var(--theme-elevation-200);
}

/* Collapsible */
.collapsible {
  border-radius: 4px;
}

/* Collapsible Content */
.collapsible__content {
  background-color: var(--theme-elevation-0);
}

/* Collapsible Toggle */
.collapsible--style-default > .collapsible__toggle-wrap .collapsible__toggle {
  background-color: var(--theme-elevation-50);
}

/* Collapsible Style Default */
.collapsible--style-default {
  border: 1px solid var(--theme-elevation-200);
}

/* Table Row Odd */
.table tbody tr:nth-child(odd) {
  background-color: var(--theme-elevation-50);
}

html[data-theme="dark"] {
  /* Dark Theme Colors */
  --theme-accent-0: var(--color-accent-900);
  --theme-accent-50: var(--color-accent-850);
  --theme-accent-100: var(--color-accent-800);
  --theme-accent-150: var(--color-accent-750);
  --theme-accent-200: var(--color-accent-700);
  --theme-accent-250: var(--color-accent-650);
  --theme-accent-300: var(--color-accent-600);
  --theme-accent-350: var(--color-accent-550);
  --theme-accent-400: var(--color-accent-450);
  --theme-accent-450: var(--color-accent-400);
  --theme-accent-550: var(--color-accent-350);
  --theme-accent-600: var(--color-accent-300);
  --theme-accent-650: var(--color-accent-250);
  --theme-accent-700: var(--color-accent-200);
  --theme-accent-750: var(--color-accent-150);
  --theme-accent-800: var(--color-accent-100);
  --theme-accent-850: var(--color-accent-50);
  --theme-accent-900: var(--color-accent-0);
  --theme-accent-950: var(--color-accent-0);
  --theme-accent-1000: var(--color-accent-0);

  --theme-elevation-0: var(--color-base-900);
  --theme-elevation-50: var(--color-base-850);
  --theme-elevation-100: var(--color-base-800);
  --theme-elevation-150: var(--color-base-750);
  --theme-elevation-200: var(--color-base-700);
  --theme-elevation-250: var(--color-base-650);
  --theme-elevation-300: var(--color-base-600);
  --theme-elevation-350: var(--color-base-550);
  --theme-elevation-400: var(--color-base-450);
  --theme-elevation-450: var(--color-base-400);
  --theme-elevation-550: var(--color-base-350);
  --theme-elevation-600: var(--color-base-300);
  --theme-elevation-650: var(--color-base-250);
  --theme-elevation-700: var(--color-base-200);
  --theme-elevation-750: var(--color-base-150);
  --theme-elevation-800: var(--color-base-100);
  --theme-elevation-850: var(--color-base-50);
  --theme-elevation-900: var(--color-base-0);
  --theme-elevation-950: var(--color-base-0);
  --theme-elevation-1000: var(--color-base-0);
}
