@import "tailwindcss";

/* 1. Define the CSS Variables for the Design System */
:root {
  /* Semantic Colors (Light Mode Default) */
  --background: var(--color-white);
  --foreground: var(--color-gray-950);

  --primary: var(--color-gray-950);
  --primary-fg: var(--color-white);

  --secondary: var(--color-gray-200);
  --secondary-fg: var(--color-gray-900);

  --destructive: var(--color-red-600);
  --destructive-fg: var(--color-white);

  --muted: var(--color-gray-100);
  --muted-fg: var(--color-gray-900);

  --border: var(--color-gray-200);
  --input: var(--color-gray-200);
  --ring: var(--color-gray-500);

  --glass: var(--color-slate-50);
  --glass-border: var(--color-slate-200);
}

/* 2. Handle Dark Mode Switching (Native CSS) */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;
    --background: var(--color-gray-950);
    --foreground: var(--color-gray-50);

    --primary: var(--color-white);
    --primary-fg: var(--color-black);

    --secondary: var(--color-gray-800);
    --secondary-fg: var(--color-gray-100);

    --muted: var(--color-gray-800);
    --muted-fg: var(--color-gray-50);

    --border: var(--color-gray-800);
    --input: var(--color-gray-800);
    --ring: var(--color-gray-300);

    --glass: var(--color-neutral-950);
    --glass-border: var(--color-gray-800);
  }
}

/* 2.1 Handle Manual Dark Mode Toggle */
:root[data-theme="dark"] {
  color-scheme: dark;
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-50);

  --primary: var(--color-white);
  --primary-fg: var(--color-black);

  --secondary: var(--color-gray-800);
  --secondary-fg: var(--color-gray-100);

  --muted: var(--color-gray-800);
  --muted-fg: var(--color-gray-50);

  --border: var(--color-gray-800);
  --input: var(--color-gray-800);
  --ring: var(--color-gray-300);

  --glass: var(--color-neutral-950);
  --glass-border: var(--color-gray-800);
}

/* 3. Expose Variables to Tailwind */
@theme {
  --color-blue-1000: #2a8af6;
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;

  /* Map CSS variables to Tailwind colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-destructive: var(--destructive);
  --color-destructive-fg: var(--destructive-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-glass: var(--glass);
  --color-glass-border: var(--glass-border);
}
